<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Modern Web Development | Web Site Example</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Home</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li {{#if about}} class="active" {{/if}}><a href="/about">About</a></li>
                        <li {{#if contact}} class="active" {{/if}}><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>

            {{{ body }}}

        </div>

        <footer><strong>Modern Web Development</strong> © 2017 by Marissa Amaya</footer>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="/js/script.js" charset="utf-8"></script>
    </body>
</html>
